<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/css/style.css" rel="stylesheet">
    <title>Pagina Principal</title>
</head>
<body>
    <%- include('./partials/header.ejs') %> 
    <main>
        <section id='cards'>
            <% pokemon.forEach(element => { %>
                <a href="/detalhes/<%= element.id %> ">
					<article class="card">
						<div class="img">
							<img src="<%= element.img %> "
							alt="<%= element.nome %> "
							>
						</div>                
						<div class="nome_Pokemon"><%= element.nome%></div>         
						<div class="tipo_Pokemon"> <%= element.tipo %></div>                 
						</div>
						<!-- <div class="img"><%= element.img %> </div> -->        
					</article>
				</a>
			<% }) %>  
        </section> 
    </main>
    <%-include('./partials/footer.ejs')%> 
</body>
</html>